/*= require_tree . */

.container {
  font-size: 1.1em;
}

.index-page p {
  text-align: center;
}

.title {
  text-align: center;
  color: #1EAEDB;
  font-size: 4em;
}

.header {
  display: block;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding: 25px 0;
}

.footer {
  display: block;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ddd;
  margin-top: 25px;
}

#calendar {
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 500px;
}
