/*= require_tree . */

.container {
  font-size: 1.1em;
}

.index-page p {
  text-align: center;
}

.title {
  text-align: center;
  color: #1EAEDB;
  font-size: 3em;
}

.header {
  display: block;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding: 25px 0;
}

.footer {
  display: block;
  height: 35px;
  line-height: 35px;
  border-top: 1px solid #ddd;
  margin-top: 25px;
}

.header iframe {
  display: block;
  margin: 0 auto;
}

#calendar {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 375px;
}

strong {
  font-weight: bold;
  color: #1EAEDB;
}
