<div class='footer row u-full-width'>
  <p class='eight columns'>Built by <%= my_website %> © 2015.</p>
  <div class='two columns u-pull-right'>
    <%= link_to 'Home', root_path, class: 'six columns' %>
    <%= link_to 'About', {controller: :application, action: 'about'}, class: 'six columns'%>
  </div>
</div>
