<div class='header'>
  <div class='row'>
    <h1 class='title six columns offset-by-three'>Isometric GitHub Profile</h1>
  </div>
  <div class="row">
    <p class="six columns"></p>

    <a class="github-button" href="https://github.com/moechaieb/isometric-github-profile" data-show-count="true" aria-label="Star moechaieb/isometric-github-profile on GitHub">Star</a>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </div>
</div>
