<div class='index-page'>
  <canvas width='1600' height='1000' id='calendar'>
  <script>
    var debug;
    $(document).ready(function(){
      window.requestAnimationFrame(function (){
          new Calendar();
      });
  </script>
</div>
