<div class='main-footer container'>
  <div class='row'>
    <p class='nine columns'>Built by <%=  my_website %> © 2015.</p>
    <div class='links three columns row'>
      <%= link_to 'Home', root_path, class: 'four columns' %>
      <%= link_to 'About', {controller: :application, action: 'about'}, class: 'four columns' %>
    </div>
  </div>
</div>
